# -----------------------------------
# Server Configuration
# -----------------------------------
PORT=3000
BASIC_AUTH_SECRET_KEY=secret


# -----------------------------------
# HTTP Configuration
# -----------------------------------
BASE_PATH=/api


# -----------------------------------
# Swagger Configuration
# -----------------------------------
ENABLE_SWAGGER=true
SWAGGER_USER=secret
SWAGGER_PASSWORD=secret
SWAGGER_BASE_PATH=/docs

# -----------------------------------
# JWT Configuration
# -----------------------------------
JWT_SECRET=secret
JWT_DURATION_MINUTES=60
JWT_ISSUER=whatsapp-gateway

# -----------------------------------
# Whatsapp Configuration
# -----------------------------------
WHATSAPP_DATASTORE_TYPE=sqlite
WHATSAPP_DATASTORE_URI=file:dbs/whatsapp.db?_pragma=foreign_keys(1)
WHATSAPP_DEVICE_LABEL="Whatsapp Gateway"
WHATSAPP_WEBHOOK_HMAC_ENCRYPTION_MASTER_KEY=0123456789abcdef0123456789abcdef
